*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #f7631b;
    --secondary-color: #04091E;
    --thid-color: #222222;
    --text-color: #777;
}
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    font-size: 36px;
    color: var(--thid-color);
    font-weight: 600;
}
.primary-btn{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
}
.card-title{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    margin: 25px;
}
.description{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-top: 20px;
}
.container{
    width: 95%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
/*---------------------------
 nav section styles start  
---------------------------*/

.header{
    height: 100vh;
    background: linear-gradient(#04091eb6 100%, rgba(18, 18, 18, 0) 100%),url(/image/banner-bg.jpg.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #04091e63; */
    border-bottom: 2px solid rgba(128, 128, 128, 0.541);
    height: 80px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-title{
    color: #fff;
    margin-left: 10px;
}
.logo-icons{
    height: 50px;
    width: 50px;
}
.menu>ul{
    display: flex;
    list-style: none;
}
.menu>ul li{
    margin-right: 15px;
}
.menu>ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    transition: all 0.3s ease;
}
.menu>ul li a:hover{
    color: var(--primary-color);
}
.header-info{
    text-align: left;
}
.header-title{
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 60px;
    font-size: 50px;
    margin: 100px 0px 30px 0px;
}
.header-btn{
    background: var(--primary-color);
    border: none;
    color: #ffF;
}
.header-btn:hover{
    background: #fff;
    color: var(--primary-color);
    transition: all 0.3s ease;
}
/* feature-card Section Start  */
.feature-area{
    margin-top: -75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.feature-card{
    background-color: rgba(255, 255, 255, 0.13);
    text-align: center;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%), 0 5px 15px 0 rgb(0 0 0 / 10%);
    padding-bottom: 30px;
}
.feature-title{
    /* background: var(--primary-color); */
    color: #fff;
    padding: 20px 0px;
}
.feature-card:hover .feature-title{
    background: var(--primary-color);
}
.feature-btn{
    background: none;
}
.feature-card:hover .feature-btn{
    color: var(--primary-color);
}
/* .feature-card:hover.feature-btn{
    color: var(--primary-color);
} */
/* feature-card section End  */